@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.slides-area-container{
    width: 100%;
    max-width: 1350px;
}

.container-master-slide{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-itadori-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;

    overflow-y: hidden;

    margin: 0 30px;
}

.renderitadorimage{
    max-width: 600px;
    width: 100%;
}

.LogoName{
    width: 100%;
    max-width: 200px;
}

.image-itadori-main p{
    font-family: Roboto;
    font-size: 1.4rem;
}

.text-itadori-area{
    max-width: 1300px;

    text-align: center;
}

.link-color{
    color: orange;
}

.slide-container-partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 40px;
}

.slide{
    display: flex;
    flex-direction: column;
}

.slide-container-partners .slide span{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Roboto;
    font-weight: 100;
    font-size: .8rem;
}

.slide-container-partners img{
    width: 200px;

    cursor: pointer;

    transition: .5s;

    border-radius: 20px;
}

.slide-container-partners img:hover{
    transform: scale(1.04);

    transition: .5s;

}

.left-space{
    margin-left: 10px;
}

.partnercontainerArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners{
    display: flex;
    align-items: center;

    margin-top: 40px;
}

.partners h1{
    font-size: 1.1rem;
    font-family: Roboto;
    font-weight: 500;
}

.favorite-animes-container{
    margin-top: 30px;
}

.favorite-animes-container h2{
    font-size: 1.1rem;
}

.our-animes-text{
    max-width: 1300px;

    text-align: center;

    margin-top: 20px;
}

.our-animes-text p{
    font-size: 1.4rem;
    font-family: Roboto;
}

.our-animes-text h2{
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.6rem;

    margin-top: 20px;
}

.animes-favorite-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 30px;
}

.favorite-anime-image:not(:last-child){
    margin-right: 20px;
}

.favorite-anime-image img{
    border-radius: 4px;

    transition: .5s;

    width: 100%;
    max-width: 250px;
}

.favorite-anime-image p{
    font-size: .8rem;

    text-align: center;

    margin-top: 10px;
}

.favorite-anime-image img:hover{
    transform: scale(1.1);
    
    transition: .5s;
}

.partners-text{
    max-width: 1200px;

    text-align: center;

    margin-top: 40px;
}

.partners-text p{
    font-size: 1.4rem;
}

.cellphopne-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellphone-image{
    margin: 20px 0;
}

.cellphone-image img{
    max-width: 500px;
}

.cellphone-text-area{
    width: 400px;

    text-align: center;
}

.banner-itadori-amvs{
    margin: 30px 0;

    width: 100%;
    max-width: 800px;

    border-radius: 6px;
}

.readMore{
    background-color: black;

    color: white;

    padding: 10px;

    border: none;
    border-radius: 6px;

    margin-top: 20px;

    outline: none;

    font-weight: 600;

    cursor: pointer;

    transition: .5s;
}

.readMore:hover{
    transform: scale(1.1);

    transition: .5s;
}

.span-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px;

    margin-top: 40px;

}

.our-work{
    display: flex;
    flex-wrap: wrap;

    font-family: Roboto;

    max-width: 450px;
    width: 100%;
}

.h3area{

    display: flex;
    flex-wrap: wrap;

    max-width: 450px;
    width: 100%;
}

.h3area h3{

    display: flex;
    flex-wrap: wrap;

    font-weight: 100;
}

.who-are-we-text{
    max-width: 1300px;

    text-align: center;

    margin-top: 20px;

    font-family: Roboto;
    font-size: 1.4rem;
}

.amv-text-area{
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
}

.amv-text{
    max-width: 1300px;

    text-align: center;

    margin-top: 20px;

    font-family: Roboto;
    font-size: 1.4rem;
}

.amv-text h2{
    margin: 20px 0;

}

.container{
    animation: Opacityx 1s;
}

@keyframes Opacityx{
    from{
        transform: translateY(10px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.new-images{
    margin-top: 30px;
}

.new-images h2 {
    font-size: 1.5rem;

}

.newDesignerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-top: 20px;
}

.newDesignerContainer img{
    border-radius: 4px;

    cursor: pointer;

    transition: .5s;

    width: 100%;
}

.newDesignerContainer img:hover{
    transform: scale(1.1);
    transition: .5s;
}

.loveMeNow{
    overflow: hidden;
}

.everythingGoes{
    overflow: hidden;
}

.mostPopularArea{
    margin-top: 30px;
}

.popularVideos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    margin-top: 20px;
}

.popularVideos img{
    border-radius: 4px;

    transition: .5s;

    cursor: pointer;

    width: 100%;
}

.popularVideos img:hover{
    transform: scale(1.1);

    transition: .5s;
}

.oceanBlue{
    overflow: hidden;
}

.paradise{
    overflow: hidden;
}

.clips{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.clips img{
    border-radius: 4px;

    max-width: 1180px;
    width: 100%;

    transition: .5s;

    cursor: pointer;
}

.clips img:hover{
    transform: scale(1.1);

    transition: .5s;
}

.clipsImage{
    overflow: hidden;
}

@media (max-width: 1159px){
    h2{
        text-align: center;
    }
}

@media (max-width: 1239px){
    .clips img{
        max-width: 570px;
    }

    h2{
        text-align: center;
    }
}
