.trandingMain{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;

max-width: 100%;

}

.trandingArea{
    margin: 4px;
}

.imagesCapa{
    border-radius: 6px;

    transition: .5s;

    cursor: pointer;
}

.imagesCapa:hover{
    transform: scale(.9);

    transition: .5s;
}

.inner{
    display: flex;
}

.carousel{
    overflow: hidden;

}

.popup{
    position: fixed;
    top: 25%;

    z-index: 2000;
  }

  .popup iframe{
    width: 50vw;
    height: 60vh;

    border-radius: 8px;

    position: relative;
  }

  .popup button{
    position: absolute;
    right: 0;

    z-index: 2000;

    color: white;

    background-color: black;

    border: none;
    border-radius: 4px;

    font-size: 30px;

    margin: 5px;

    cursor: pointer;

    transition: .5s;

    padding: 4px;
  }

  .popup button:hover{
    transform: scale(.8);
    transition: .5s;
  }

  .loadingOverlay{
    position: fixed;
    top: 55%;

    z-index: 2000;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 3px dotted white;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;

    background-color: white;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted rgb(36, 36, 36);
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
